<div class="home">
  <div class="user_name">
    <%= link_to current_user.name, edit_user_path(current_user)%>
  </div>
  <div class="chat_btn">
    <%= link_to "チャットを作成する" , new_room_path %>
  </div>
</div>

<div class="chat_list">
  <% current_user.rooms.each do |room| %>
    <div class="chat_item">
      <a href="#"><%= room.name %></a>
    </div>
  <% end %>
</div>
